@model IEnumerable<BSWebApp.Models.ReservedTables>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ResLayout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tables)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tables.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.ReservationsId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservationId">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ReservationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
